*
{
  	font-family: Montserrat, sans-serif;
  	box-sizing: border-box;
}
body,html
{
	margin:0;
	padding:0;
	scroll-behavior: smooth;
	

}
.sticky
{
	position:fixed;
	top:0;
}
#header
{
	background-color:#3366ff;
	display:flex;
    justify-content:space-between;
    align-items: center;
    padding:0px 10px;
    width:100vw;
}
#header-img
{
	margin:0 20px;
	padding: 0px;
	padding-left: 10px;
   
}
#nav-bar ul
{
  	display: flex;
}

#nav-bar li
{
	

	padding:0 30px;
	list-style:none;
}
#nav-bar li a
{
	display: block;
	color:black;
	font-size:30px;
	text-decoration:none;
	font-weight: bold;
}
#nav-bar li a:hover
{
   background-color: blue;
   height:100%;
   
}
.toggle-button
{
	height:21px;
	width:30px;
	margin-left:auto;
	display: none;
	flex-direction: column;
	justify-content: space-between;

}
.toggle-button .bar
{   
	height:3px;
	border-radius: 5px;
	background-color:white;

}

@media screen and (max-width: 620px) {
  #header
  {
  	flex-direction: column;
  	align-items:center;
  	width: 100%;
  }
  #nav-bar ul
  {
  	flex-direction: column;
  	width: 100%;

  }
  #nav-bar li 
  {
  	text-align: center;
  }
  .toggle-button
  {
  	display:flex;

  }
}
.img-p 
{
	display:flex;
	justify-content: center;
	align-items: center;
	background-image:url("img/beauty20salon-1.png");
	background-repeat: no-repeat;
	background-position:center center; 
    width:100%;
    height:400px;
    background-attachment: fixed;
	
}
.img-p p
{    font-size: 20px;
	text-align:center;
	color:white;
	font-weight: bold;
	
}
.info-text
{   
	text-align:center;
}
.info-text h3
{
	font-size: 23px;
	color:black;
}
.info-text p
{
	font-size: 18px;
	color:black;
}
.grid
{   margin:30px 150px;
	display: grid;
	grid-gap:10px;
	grid-template-columns: 1fr auto auto;
	
}
#service{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}
.head-serv
{
	text-align:center;
	width:55%;
}
.head-serv p
{
	font-size: 16px;
}
.main-serv
{
width:66%;
  display:flex;
  justify-content:space-between;
  	
}
.submenu
{
	width:20%;
}
.submenu img
{

}
.submenu p
{
	font-size:14px;
}
.image
{
	text-align:center;
	display: block;
}
video {
	display: block;
	margin:auto;
  max-width: 60%;
  height: auto;
  margin-top: 30px;

}
footer
{   margin-top:30px;
	padding:30px;
	background-color:black;
	color:white;
	display:flex;
	justify-content: space-around;
	align-items: center;
}

#emaill input[type="email"] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}

#emaill input[type="submit"] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
}

#emaill input[type="submit"]:hover {
  background-color: orange;
  transition: background-color 1s;
}

@media screen and (max-width: 620px)
{
	.info-text
{   
	text-align:left;
	padding-left: 20px;
}
.info-text h3
{
	font-size: 19px;
}
.info-text p
{
	font-size: 14px;
	
}
.grid
{   margin:30px ;
	display:flex;
	flex-direction: column;
	justify-content:space-between;
	
}
.service
{
	align-items: center;
}
.head-serv
{
	text-align:left;
	padding-left: 20px;
	width:100%;
}
.head-serv p
{
	font-size: 14px;
}
.head-serv h2
{
	font-size: 20px;
}
.main-serv
{
width:100%;

flex-direction: column;
  justify-content:space-between;
  align-items: center;
  	
}
.submenu
{
	width:100%;
	text-align: center;
	margin-left: 20px;
}
.submenu p
{
	width:100%;
}

}

